<nav class="navbar is-dark has-background-black-ter is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/states"> &nbsp; U.S. States &nbsp; </a>
        <a class="navbar-item" href="/states/new"> &nbsp; Add New State &nbsp; </a>
    </div>
</nav>